<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/style.css" />
    
    <title>IT Issues</title>
  </head>
  <body>
  
    <nav>
        Random Company

        <ul>
          <li><a href="/">Main Menu</a></li>
          <li><a href=""> Issues by Departments</a></li>
        <li><a href="">Some other link</a></li>
        </ul>
      </nav>
  

    {{{body}}}

    <script src="app.js"></script>
  </body>
</html>

